@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,500&display=swap");
*{
    margin:0;
    padding:0;
    font-family:Montserrat;
}
.header{ 
    color:yellow;
}
.body{
    background:url("https://i.pinimg.com/736x/a4/22/9a/a4229a483cf76e0b5458450c2e591ff3--d-texture-paint-texture.jpg");
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background:linear-gradient(green,yellow);
    width:90vmin;
    height:90vmin;
    border:2px solid #ccc;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background:linear-gradient(red,yellow);
    border-radius:30%;
    transform: scale(1.2);
}
.food{
    background-color:red;
    border-radius:30%;
    border: .25vmin solid white;
}
.snake{
    background-color:darkgrey;
    border: .25vmin solid black;
    border-radius:50%;
}
#score{
   position:absolute;
   top:9px;
   right:100px;
   font-size:200%;
   color:white;
}
#level{
    position:absolute;
    top:39px;
    right:100px;
    font-size:large;
    color:white;
}
